table, td, th {
    border: solid 1px black;
    border-collapse: collapse;
}
td{
    width: 150px;
}
th{
    height: 25px;
    background-color: green;
}
th, td {
    border-bottom: 1px solid #ddd;
}tr:nth-child(even) {background-color: #cccfcc};